/*   
Project: IXD Belfast
Project URI: http://ixdbelfast.org
Author: Tim Potter
Author URI: http://littlethunder.co
*/
/* HTML5 RESET
------------------------------------------------------------------------------------------------------------------------------------------ */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Turns off the ugly iOS input shadows */
input,
textarea {
  -webkit-appearance: none; }

/* VARIABLES
------------------------------------------------------------------------------------------------------------------------------------------ */
/* COLOUR */
/* SETTINGS */
/* MIXINS */
/* TYPOGRAPHY
------------------------------------------------------------------------------------------------------------------------------------------ */
body {
  font-family: "lato", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  background: url(../images/desk.png) center top no-repeat fixed;
  background-color: #3498db;
  margin-top: 660px; }

a {
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-decoration: none;
  color: #3498db; }
  a:hover {
    opacity: 0.75; }

p, li {
  line-height: 1.35;
  font-weight: 300; }

p {
  padding-bottom: 10px; }

#home .two p:nth-of-type(1),
#about .two p:nth-of-type(1),
.overview p:nth-of-type(1),
.post-content p:nth-of-type(1) {
  font-size: 1.25em;
  /* 20/16 */
  line-height: 1.25em; }

h1 {
  font-size: 2.2em;
  margin-bottom: 20px; }

.logo {
  color: white;
  font-weight: 600;
  font-size: 2em; }
  .logo span {
    font-size: 14px;
    clear: both;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400; }

h2 {
  font-size: 1.625em;
  /* 26/16 */
  padding: 20px 0 10px; }

h3 {
  font-size: 1.25em;
  /* 20/16 */
  padding: 20px 0 10px; }

h4 {
  margin: 30px 0 20px;
  font-size: 1.125em;
  /* 18/16 */ }

li {
  list-style-position: outside;
  margin-left: 20px; }

strong {
  font-weight: 400; }

small {
  font-size: 0.75em;
  /* 12/16 */
  text-align: center;
  margin-top: 80px;
  display: block;
  opacity: 0.5; }

/* IMAGERY
------------------------------------------------------------------------------------------------------------------------------------------ */
img {
  max-width: 100%; }

.avatar {
  border-radius: 50%;
  width: 50px;
  margin-right: 5px;
  vertical-align: middle; }

/* NAVIGATION
------------------------------------------------------------------------------------------------------------------------------------------ */
header {
  padding: 30px 0 10px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #3498db; }
  header h1 {
    width: 30%;
    float: left; }
  header a {
    color: white; }
  header nav {
    float: right;
    display: block;
    width: 70%;
    text-align: right; }
    header nav li {
      display: inline;
      margin-left: 20px;
      font-weight: 500; }

/* ACTIVE STATES */
#home a.home,
#apply a.apply,
#curriculum a.curriculum,
#timetable a.timetable,
#journal a.journal,
#why-belfast a.why-belfast,
#contact a.contact {
  border-bottom: 1px solid white;
  padding-bottom: 2px; }

/* LAYOUT
------------------------------------------------------------------------------------------------------------------------------------------ */
.content {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 50px; }

.container {
  width: 940px;
  margin: 0 auto; }

footer {
  background-color: #333;
  color: white;
  padding: 60px 0;
  text-align: center; }
  footer a,
  footer p {
    color: white; }
  footer li {
    display: inline; }

.one {
  width: 33.3333%; }

.two {
  width: 60%; }

.showcase {
  display: none; }

#home .showcase {
  display: block;
  background-color: #f5f5f5;
  margin-top: 60px;
  padding: 30px 0; }

/* CURRICULUM
------------------------------------------------------------------------------------------------------------------------------------------ */
/* MODULE LISTINGS */
.module {
  width: 50%;
  float: left;
  margin-bottom: 40px;
  position: relative; }
  .module li {
    margin-left: 0; }
  .module .details {
    padding-bottom: 10px; }
    .module .details li {
      display: inline;
      margin-right: 10px;
      margin-left: 0; }
  .module:nth-child(odd) {
    padding-left: 15px; }
  .module:nth-child(even) {
    clear: left;
    padding-right: 15px; }
  .module:nth-child(2):before, .module:nth-child(6):before, .module:nth-child(10):before, .module:nth-child(12):before {
    margin-top: -20px;
    font-size: 32px;
    color: #333333;
    display: block;
    width: 100%;
    position: absolute;
    font-weight: 400; }
  .module:nth-child(2):before {
    content: "Year 1"; }
  .module:nth-child(6):before {
    content: "Year 2"; }
  .module:nth-child(10):before {
    content: "Year 3"; }
  .module:nth-child(12):before {
    content: "Year 4"; }
  .module:nth-child(2), .module:nth-child(3), .module:nth-child(6), .module:nth-child(7), .module:nth-child(10), .module:nth-child(11), .module:nth-child(12), .module:nth-child(13) {
    margin-top: 40px; }
  .module li {
    list-style-type: none; }

/* MODULE OVERVIEW */
.overview .github {
  margin-top: 30px; }
.overview li {
  margin-left: 40px; }
.overview .details li {
  margin-left: 0;
  list-style-type: none; }
.overview .back {
  margin-top: 50px; }

/* POSTS
------------------------------------------------------------------------------------------------------------------------------------------ */
.posts li {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 20px; }

.post-date,
.post-author {
  font-size: 12px;
  color: #999999;
  font-weight: 400; }

.post-date:before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-right: 3px;
  margin-top: -3px;
  background: transparent url("../images/icons/time.svg") no-repeat; }

.post-link {
  font-weight: 600;
  display: block;
  clear: both;
  font-size: 1.125em;
  /* 18/16 */ }

.post-author {
  margin-right: 5px; }

#journal .avatar {
  width: 30px; }
#journal h1 {
  margin-bottom: 0; }
#journal li {
  margin-bottom: 0; }
  #journal li.read-more {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 40px; }
#journal .post-excerpt {
  margin-top: 20px; }
#journal .post-date,
#journal .post-author {
  font-size: 1em; }

.post-content h1 {
  margin-bottom: 10px; }
.post-content .post-date {
  font-size: 1em;
  margin-bottom: 30px;
  display: block; }

#home .posts .avatar {
  width: 15px; }

/* TIMETABLE
------------------------------------------------------------------------------------------------------------------------------------------ */
p.date {
  float: right;
  clear: both;
  margin-top: -30px; }

.timetable .group {
  border-top: 1px solid #ccc;
  padding: 20px; }
.timetable .alt {
  background-color: #f9f9f9; }
.timetable h2 {
  padding-top: 15px; }
.timetable .time,
.timetable .class-details {
  display: block;
  float: left; }
.timetable .time {
  margin-right: 60px; }
.timetable .day {
  width: 20%;
  float: left;
  position: absolute; }
.timetable .class {
  border-bottom: 1px solid #eee;
  width: 80%;
  display: block;
  float: left;
  margin-left: 20%;
  padding-bottom: 20px; }
.timetable .module-code,
.timetable .session,
.timetable .room {
  float: left;
  display: block; }
.timetable .module-code:before {
  content: "Module Code: ";
  font-weight: 300; }
.timetable .room:before {
  content: "Room: ";
  font-weight: 300; }
.timetable ul li {
  list-style-type: none;
  padding: 0;
  margin: 0 20px 0 0;
  font-size: 12px;
  font-weight: bold;
  opacity: .7; }
.timetable .no-border {
  border: none; }

/* SLIDESHOW
------------------------------------------------------------------------------------------------------------------------------------------ */
.banner {
  position: relative;
  overflow: auto;
  margin-top: 30px; }
  .banner li {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0; }

/* BUTTONS
------------------------------------------------------------------------------------------------------------------------------------------ */
.button {
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 0.875em;
  /* 14/16 */
  font-weight: 800;
  background-color: transparent;
  color: #3498db;
  border: 1px solid #3498db; }
  .button:hover {
    color: white;
    background-color: #3498db;
    opacity: 1; }

/* STAFF
------------------------------------------------------------------------------------------------------------------------------------------ */
.staff {
  display: block;
  clear: both; }
  .staff li {
    list-style-type: none;
    text-align: center;
    margin-bottom: 20px;
    width: 33%; 
    float: left;
    margin-left: 0; }
    .staff li img {
      clear: both;
      display: block;
      margin: 0 auto;
      margin-bottom: 5px; }
      .staff li img.avatar {
        width: 80px; }
    .staff li .position {
      clear: both;
      display: block;
      font-size: 14px;
      color: #999999; }

/* ICONS
------------------------------------------------------------------------------------------------------------------------------------------ */
ul.links {
  margin-bottom: 30px; }
  ul.links li {
    padding: 10px 20px; }
    ul.links li:before {
      display: inline-block;
      content: "";
      vertical-align: middle;
      width: 18px;
      height: 18px;
      margin-right: 5px;
      margin-top: -2px;
      background-repeat: no-repeat; }

.email:before {
  background-image: url("../images/icons/email.svg"); }

.twitter:before {
  background-image: url("../images/icons/twitter.svg"); }

.github:before {
  background-image: url("../images/icons/github.svg"); }

/* USEFUL CLASSES
------------------------------------------------------------------------------------------------------------------------------------------ */
.left {
  float: left; }

.right {
  float: right; }

/* CLEARFIX */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@media only screen and (max-width: 980px) {
  header nav {
    width: 65%; }
  header h1 {
    width: 35%; }

  .container {
    width: 90%; } }
@media only screen and (max-width: 860px) {
  header .logo {
    float: left;
    width: 80%; }

  .two,
  .one {
    width: 100%; }
    
  ul.links li {
    width: 100%;
    display: block;
    clear: both;
    padding: 10px 0;
    margin: 0; }

  .timetable .group {
    padding: 20px 0; }
  .timetable .day,
  .timetable .time,
  .timetable .class {
    width: 100%;
    position: relative;
    clear: both;
    margin-left: 0; } }
@media only screen and (max-width: 700px) {
  body {
    margin-top: 0px; }

  header {
    position: relative;
    display: block;
    height: 100px; }
    header li, header ul {
      background: #3498db; }
    header .nav-collapse {
      margin-bottom: 30px; }

  .module {
    width: 100%; } }
@media only screen and (max-width: 460px) {
  .staff li {
    width: 100%; } }
@media only screen and (max-width: 380px) {
  .logo {
    font-size: 1.5em;
    /* 24/16 */ } }
@media only screen and (min-width: 700px) and (max-height: 900px) {
  body {
    margin-top: 530px; } }
@media only screen and (min-width: 700px) and (max-height: 600px) {
  body {
    margin-top: 440px; } }

/* PORTFOLIO PAGE
------------------------------------------------------------------------------------------------------------------------------------------- */



.portfolio ul {
  position: relative;
  margin: 0 0 30px;
  padding: 0;
  list-style-type: none; }

 .portfolio li {
    font-weight: 400;
    display: block;
    margin: 10px 0; }
    
  .portfolio  a {
    text-decoration: none;}

.year-one {
  width: 25%; }

.year-two {
  width: 25%; }

.year-three {
  width: 25%; }

.year-four {
  width: 25%; }

/* RESPONSIVE NAV
------------------------------------------------------------------------------------------------------------------------------------------ */
@media screen and (max-width: 860px) {
  .nav-collapse {
    width: 95%; }

  .nav-collapse ul {
    margin: 0 0 0 -2.5%;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none; }

  .nav-collapse li {
    width: 100%;
    display: block;
    margin: 0 0 0px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px; }

  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    zoom: 1; }

  .nav-collapse.opened {
    max-height: 9999px; }

  .nav-collapse.disable-pointer-events {
    pointer-events: none !important; }

  a.nav-toggle {
    width: 60px;
    position: absolute;
    right: 0; }

  .nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: block;
    color: white;
    padding: 10px;
    text-align: right;
    padding-right: 40px;
    z-index: 2;
    height: 40px; }

  .nav-toggle:before {
    content: " ";
    position: absolute;
    width: 1.5em;
    height: 0.225em;
    background: white;
    box-shadow: 0 0.60em 0 0 white, 0 1.2em 0 0 white; } 
    
  /* .year-one, .year-two, .year-three, .year-four {
       width: 100%; } } */


@media screen and (min-width: 860px) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; } }

/*   CONTROLLING COLUMNS IN /PORTFOLIO/ FOR TABLET AND SMARTPHONE ------------------------------------------------------------------------------------------------------------------------------------------ */  
    
@media (max-width: 52em) {
    
    .year-one, .year-two, .year-three, .year-four {
       width: 50%; }   
    }

@media (max-width: 30em) {
    
    .year-one, .year-two, .year-three, .year-four {
       width: 100%; } 
    }