/* VARIABLES
------------------------------------------------------------------------------------------------------------------------------------------ */

/* COLOUR */

$ixd-blue: 			#243086;
$text-grey: 		#333333;
$flat-blue:			#3498DB;


/* SETTINGS */

$borderradius: 		5px;


/* MIXINS */

@mixin sans-serif {
	font-family: "lato", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: $text-grey;
	font-size: 1em;
	}


/* TYPOGRAPHY
------------------------------------------------------------------------------------------------------------------------------------------ */

body {
	 @include sans-serif;
	 -webkit-font-smoothing: antialiased;
	}


a {
	@include transition (all 150ms ease-in-out);
	text-decoration: none;
	color: $flat-blue;
	&:hover {
		opacity: 0.75;
		}
	}

p {
	padding-bottom: 10px;
	line-height: 1.35;
	font-weight: 300;
	}

h1 {
	font-size: 2em;
	margin-bottom: 20px;
	font-weight: 400;
	}


h2 {
	font-size: 1.5em; /* 24/16 */
	font-weight: 500;
	}

h3 {
	font-size: 1.25em; /* 20/16 */
	}


/* NAVIGATION
------------------------------------------------------------------------------------------------------------------------------------------ */

header {
	padding: 30px 0;
	margin-bottom: 60px;

	h1 {
		width: 50%;
		float: left;
		}

	a {
		color:white;
		}

	nav {
		float: right;
		display: block;
		width: 50%;
		text-align: right;
		li {
			display: inline;
			margin-left: 20px;
			font-weight: 500;
			}
		}
	}

/* ACTIVE STATES */

#home a.home,
#about a.about,
#curriculum a.curriculum,
#journal a.journal,
#contact a.contact   {
	border-bottom: 1px solid white;
	padding-bottom: 2px;
	}


/* LAYOUT
------------------------------------------------------------------------------------------------------------------------------------------ */

header {
	height: 500px;
	// background: url(../images/desk.png) right top no-repeat;
	// background-size: cover;
	background-color: $flat-blue;
	}

.container {
	width: 960px;
	margin: 0 auto;
	}

.module {
	width: 50%;
	float: left;
	padding: 30px 0;
	margin-bottom: 30px;
	position: relative;

	.details {
		padding: 10px 0;
		li {
			display: inline;
			margin-right: 10px;
			}
		}
	
	&:nth-child(odd) {
		padding-left: 15px;
		}

	&:nth-child(even) {
		// background-color: #eee;
		clear: left;
		padding-right: 15px;
		}

	// &:nth-child(4),
	// &:nth-child(5),
	// &:nth-child(8),
	// &:nth-child(9)
	//  {
	// 	border-bottom: 1px solid #ccc;
	// 	}

	li {
		list-style-type: none;
		}
	}

footer {
	margin-top: 60px;
	background-color: #333;
	a,
	p {
		color:white;
		}
	}


/* BUTTONS
------------------------------------------------------------------------------------------------------------------------------------------ */

.button {
	margin-top: 20px;
	display: inline-block;
	padding: 12px 20px;
	border-radius: 6px;
	// border: 2px solid #999;
	font-size: 0.875em; /* 14/16 */
	font-weight: 800;
	// position: absolute;
	// bottom: 30px;
	color: white;
	background-color: $flat-blue;
	}

/* USEFUL CLASSES
------------------------------------------------------------------------------------------------------------------------------------------ */


.left {
	float: left;
	}

.right {
	float: right;
	}

/* CLEARFIX */

.group:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }


