/* VARIABLES
------------------------------------------------------------------------------------------------------------------------------------------ */

/* COLOUR */

$ixd-blue: 			#243086;
$text-grey: 		#333333;
$flat-blue:			#3498DB;


/* SETTINGS */

$borderradius: 		5px;


/* MIXINS */

@mixin sans-serif {
	font-family: "lato", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: $text-grey;
	}


/* TYPOGRAPHY
------------------------------------------------------------------------------------------------------------------------------------------ */

body {
	 @include sans-serif;
	 -webkit-font-smoothing: antialiased;
	}


a {
	@include transition (all 150ms ease-in-out);
	text-decoration: none;
	color: $flat-blue;
	&:hover {
		opacity: 0.75;
		}
	}

p, li {
	line-height: 1.35;
	font-weight: 300;
	}

p {
	padding-bottom: 10px;
	}

#home .two,
#about .two,
.overview,
.post-content {
	p:nth-of-type(1) { 
		font-size: 1.25em; /* 20/16 */
		line-height: 1.25em;
		}
	}


h1 {
	font-size: 2.2em;
	margin-bottom: 20px;
	}

.logo {
	color: white;
	font-weight: 600;
	font-size: 2em;

	span {
		font-size: 14px;
		clear: both;
		display: block;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 400;
		}
	}


h2 {
	font-size: 1.5em; /* 24/16 */
	padding: 20px 0 10px;
	}

h3 {
	font-size: 1.25em; /* 20/16 */
	padding: 20px 0 10px;
	}

li {
	list-style-position: outside;
	margin-left: 20px;
	}

strong {
	font-weight: 400;
	}

small {
	font-size: 0.75em; /* 12/16 */
	text-align: center;
	margin-top: 20px;
	display: block;
	opacity: 0.5;
	}

/* IMAGERY
------------------------------------------------------------------------------------------------------------------------------------------ */

img {
	max-width: 100%;
	}

.avatar {
	border-radius: 50%;
	width: 50px;
	margin-right: 5px;
	vertical-align: middle;
	}


/* NAVIGATION
------------------------------------------------------------------------------------------------------------------------------------------ */

header {
	padding: 30px 0;
	margin-bottom: 60px;

	h1 {
		width: 30%;
		float: left;
		}

	a {
		color:white;
		}

	nav {
		float: right;
		display: block;
		width: 70%;
		text-align: right;
		li {
			display: inline;
			margin-left: 20px;
			font-weight: 500;
			}
		}
	}

/* ACTIVE STATES */

#home a.home,
#apply a.apply,
#curriculum a.curriculum,
#journal a.journal,
#why-belfast a.why-belfast,
#contact a.contact   {
	border-bottom: 1px solid white;
	padding-bottom: 2px;
	}


/* LAYOUT
------------------------------------------------------------------------------------------------------------------------------------------ */

header {
	height: 560px;
	background: url(../images/desk.png) center top no-repeat;
	// background-size: cover;
	background-color: $flat-blue;
	}

.container {
	width: 940px;
	margin: 0 auto;
	}

footer {
	margin-top: 50px;
	background-color: #333;
	color: white;
	padding: 60px 0;
	a,
	p {
		color:white;
		}
	}

.one {
	width: 33.3333%;
	}

.two {
	width: 60%;
	}

.showcase {
	
	display: none;
	}

#home .showcase {
	display: block;
	background-color: #f5f5f5;
	margin-top: 60px;
	padding: 30px 0;
	}



/* CURRICULUM
------------------------------------------------------------------------------------------------------------------------------------------ */

/* MODULE LISTINGS */

.module {
	width: 50%;
	float: left;
	// padding: 30px 0;
	margin-bottom: 40px;
	position: relative;

	li {
		margin-left: 0;
	}

	.details {
		padding-bottom: 10px;
		li {
			display: inline;
			margin-right: 10px;
			margin-left: 0;
			}
		}
	
	&:nth-child(odd) {
		padding-left: 15px;
		}

	&:nth-child(even) {
		clear: left;
		padding-right: 15px;
		}

	&:nth-child(2):before,
	&:nth-child(6):before,
	&:nth-child(10):before,
	&:nth-child(12):before  {
		margin-top: -20px;
		font-size: 32px;
		color: $text-grey;
		display: block;
		width: 100%;
		position: absolute;
		font-weight: 400;
		}

	 &:nth-child(2):before {
		content: "Year 1";
		}

	&:nth-child(6):before {
		content: "Year 2";
		}

	&:nth-child(10):before {
		content: "Year 3";
		}

	&:nth-child(12):before {
		content: "Year 4";
		}

	&:nth-child(2),
	&:nth-child(3),
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(10),
	&:nth-child(11),
	&:nth-child(12),
	&:nth-child(13),
	 {
		margin-top: 40px;
		}

	li {
		list-style-type: none;
		}
	}

/* MODULE OVERVIEW */

.overview {

	li {
		margin-left: 40px;
		}

	.details {
		
		li {
			margin-left: 0;	
			list-style-type: none;
			}
		}

.back {
	margin-top: 50px;
	}
}


/* POSTS
------------------------------------------------------------------------------------------------------------------------------------------ */

.posts {

	li {
		list-style-type: none;
		margin-left: 0;
		margin-bottom: 20px;
		}
	}

.post-date,
.post-author {
	font-size: 12px;
	color: #999;
	font-weight: 400;
	}

.post-date {
	
	&:before {
		display: inline-block;
	    content: "";
	    vertical-align: middle;
	    width: 12px;
	    height: 12px;
	    margin-right:3px;
	    margin-top: -3px;
	    background: transparent url('../images/icons/time.svg') no-repeat;
		}

	}

.post-link {
	font-weight: 600;
	display: block;
	clear: both;
	font-size: 1.125em; /* 18/16 */
	}

.post-author {
	margin-right: 5px;
	}

#journal {

	.avatar {
		width: 30px;
		}
	h1 {
		margin-bottom: 0;
		}

	li {
		margin-bottom: 0;

		&.read-more {
			border-bottom: 1px solid #eee;
			padding-bottom: 20px;
			margin-bottom: 40px;
			}
		}

	.post-excerpt {
		margin-top: 20px;
		}
	.post-date,
	.post-author {
		font-size: 1em;
		}
	}

.post-content {
	h1 {
		margin-bottom: 10px;
		}

	.post-date{
		font-size: 1em;
		margin-bottom: 30px;
		display: block;
		}
	}

#home .avatar {
		width: 15px;
		}


/* SLIDESHOW
------------------------------------------------------------------------------------------------------------------------------------------ */

.banner { 
	position: relative; 
	overflow: auto; 
	margin-top: 30px; 

	li {
		list-style: none;
		float: left; 
		margin: 0;
		padding: 0;
		}

	}



/* BUTTONS
------------------------------------------------------------------------------------------------------------------------------------------ */

.button {
	margin-top: 10px;
	margin-bottom: 20px;
	display: inline-block;
	padding: 12px 20px;
	border-radius: 6px;
	// border: 2px solid #999;
	font-size: 0.875em; /* 14/16 */
	font-weight: 800;
	// position: absolute;
	// bottom: 30px;
	background-color: transparent;
	color: $flat-blue;
	
	border: 1px solid $flat-blue;

	&:hover {
		color: white;
	background-color: $flat-blue;
		opacity: 1;
		}
	}

/* USEFUL CLASSES
------------------------------------------------------------------------------------------------------------------------------------------ */


.left {
	float: left;
	}

.right {
	float: right;
	}

/* CLEARFIX */

.group:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }


