/* Add a media query where the content naturally breaks. This is not device specific, it's content specific */

/* 980PX
------------------------------------------------------------------------------------------------------------------------------------------ */

@media only screen and (max-width: 980px) {

header {

	nav {
		width: 65%;
		}

	h1 {
		width: 35%;
		}
	}


.container {
	width: 90%;
	}
}


@media only screen and (max-width: 860px) {




header .logo {
	float: left;
	width: 80%;
	}

.two,
.one {
	width: 100%;
	}

}

@media only screen and (max-width: 700px) {

body {
	margin-top: 100px;
}

.module {
	width: 100%;
	}

}