/* RESPONSIVE NAV
------------------------------------------------------------------------------------------------------------------------------------------ */

@media screen and (max-width:860px) {

.nav-collapse {
  width: 95%;
  }

.nav-collapse ul {
  margin: 0 0 0 -2.5%;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
  }

.nav-collapse li {
  width: 100%;
  display: block;
  margin: 0 0 0px;
  font-size: 20px;
  // padding-right: 20px;
  text-align: center;
  padding-bottom: 20px;

  }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  // overflow: hidden;
  zoom: 1;
  }

.nav-collapse.opened {
  max-height: 9999px;
  }

.nav-collapse.disable-pointer-events {
  pointer-events: none !important;
  }

a.nav-toggle {
  width: 60px;
  position: absolute;
  right: 0;

}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
  color: white;
  padding: 10px;
  text-align: right;
  padding-right: 40px;
  z-index: 2;
  height: 40px

}

.nav-toggle:before {
  content: " ";
  position: absolute;
   width: 1.5em;
  height: 0.225em;
  background: white;
  box-shadow: 
    0 0.60em 0 0 white,
    0 1.2em 0 0 white;
}

}

@media screen and (min-width: 860px) {

.js .nav-collapse {
  position: relative;
  }
.js .nav-collapse.closed {
  max-height: none;
  }
.nav-toggle {
  display: none;
  }
}
