@media only screen and (max-width: 980px) {

header {

	nav {
		width: 65%;
		}

	h1 {
		width: 35%;
		}
	}


.container {
	width: 90%;
	}
}


@media only screen and (max-width: 860px) {


header .logo {
	float: left;
	width: 80%;
	}

.two,
.one {
	width: 100%;
	}

ul.links li {
	width: 100%;
	display: block;
	clear: both;
	padding: 10px 0;
	margin:0;	
	}

.timetable {

	.group {
		padding: 20px 0;
		}
	.day,
	.time, 
	.class {
		width: 100%;
		position: relative;
		clear: both;
		margin-left: 0;
		}
	}

}

@media only screen and (max-width: 700px) {

body {
	margin-top: 0px;
	}

header {
	position: relative;
	display: block;
	height: 100px;
	li, ul {
		background: $flat-blue;
		}

	.nav-collapse {
		margin-bottom: 30px;
		}
	}

.module {
	width: 100%;
	}
}

@media only screen and (max-width: 460px) {

	.staff li {
		width: 100%;
		}
	}

@media only screen and (max-width: 380px) {

	.logo {
		font-size: 1.5em; /* 24/16 */
		}
	}





@media only screen and (min-width: 700px) and (max-height: 900px) {

body {
	margin-top: 530px;
	}
}

@media only screen and (min-width: 700px) and (max-height: 600px) {

body {
	margin-top: 440px;
	}
}