/* Add a media query where the content naturally breaks. This is not device specific, it's content specific */

/* 980PX
------------------------------------------------------------------------------------------------------------------------------------------ */

@media only screen and (max-width: 980px) {

header {

	nav {
		width: 65%;
		}

	h1 {
		width: 35%;
		}
	}


.container {
	width: 90%;
	}
}


@media only screen and (max-width: 860px) {




header .logo {
	float: left;
	width: 80%;
	}

.two,
.one {
	width: 100%;
	}

ul.links li {
	width: 100%;
	display: block;
	clear: both;
	padding: 10px 0;
	margin:0;	
	}

}

@media only screen and (max-width: 700px) {

body {
	margin-top: 0px;
	}

header {
	position: relative;
	display: block;
	height: 100px;
	li, ul {
		background: $flat-blue;
		}

	.nav-collapse {
		margin-bottom: 30px;
		}
	}

.module {
	width: 100%;
	}

}

@media only screen and (max-width: 460px) {

	.staff li {
		width: 100%;
	}
	}