---
layout: default
title: Student Portfolios
id: portfolios
permalink: /portfolios/
---

    <h1>{{ page.title }}</h1>


  <div class="portfolio year-groups">
    <section class="year-one quarter left">
        <h4>Year 1</h4>
        <p>No students enrolled</p>
      </section>

<!---------------------- /.year one ------------------------->

      <section class="year-two quarter left">
        <h4>Year 2</h4>
        {% for main in site.data.yeargroup.year2 %}
        <ul>
          {% assign sorted_links = (main.link | sort: 'name') %}
          {% for item in sorted_links %}
          <li>
            <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
            <a class="twitter" href="https://twitter.com/{{ item.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </section>

<!---------------------- /.year two ------------------------->

      <section class="year-three quarter left">
        <h4>Year 3</h4>
   {% for main in site.data.yeargroup.year3 %}
        <ul>
          {% assign sorted_links = (main.link | sort: 'name') %}
          {% for item in sorted_links %}
          <li>
            <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
            <a class="twitter" href="https://twitter.com/{{ item.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </section>

<!---------------------- /.year three ------------------------->

      <section class="year-four quarter left">
        <h4>Year 4</h4>
          {% for main in site.data.yeargroup.year4 %}
        <ul >
          {% assign sorted_links = (main.link | sort: 'name') %}
          {% for item in sorted_links %}
          <li>
            <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
            <a class="twitter" href="https://twitter.com/{{ item.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </section>

<!---------------------- /.year four ------------------------->

    </div>
