<footer class="group">

  <div class="container">

      <ul>
        <li>{{ site.description }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li><a href="http://twitter.com/{{ site.social }}">Follow us on Twitter</a></li>
        
      </ul>

      <small>The contents of this website are &copy; 2014 IxD Belfast under the terms of the MIT License. Proudly hosted by GitHub</small>

  </div>

</footer>

<!-- SCRIPTS -->
<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script>

<script>
$(function() {
  $('.banner').unslider({
    speed: 700,               //  The speed to animate each slide (in milliseconds)
    delay: 5000,              //  The delay between slide animations (in milliseconds)
    complete: function() {},  //  A function that gets called after every slide animation
    keys: true,               //  Enable keyboard (left, right) arrow shortcuts
    dots: true,               //  Display dot navigation
    fluid: true             //  Support responsive design. May break non-responsive designs
  });
});
</script>

<!-- EQUAL HEIGHT MODULES -->
<!--<script>
function equalHeight(group) {
tallest = 0;
group.each(function() {
thisHeight = $(this).height();
if(thisHeight > tallest) {
tallest = thisHeight +100;
}
});
group.height(tallest);
}
$(document).ready(function() {
equalHeight($(".module"));
});
<script>-->

<!-- GOOGLE ANALYTICS -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-{{ site.ua }}', '{{ site.url }}');
  ga('send', 'pageview');
</script>
