<header>

  <div class="container group">

    <h1 class="logo"><a href="{{ site.homeurl }}"><span>BDes (Hons)</span> Interaction Design</a></h1>

    <nav role="navigation" class="nav-collapse">
     <!--  <ul>
          {% for page in site.pages %}
          <li><a class="{{ page.id }}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endfor %}
      </ul> -->

        <ul>
        <li><a class="home" href="{{ site.baseurl }}/">Home</a></li>
        <li><a class="apply" href="{{ site.baseurl }}/apply/">Apply</a></li>
        <li><a class="curriculum" href="{{ site.baseurl }}/curriculum/">Curriculum</a></li>
        <li><a class="portfolios" href="{{ site.baseurl }}/portfolios/">Portfolios</a></li>
        <!-- <li><a class="timetable" href="{{ site.baseurl }}/timetable/">Timetable</a></li> -->
        <li><a class="why-belfast" href="{{ site.baseurl }}/why-belfast/">Why Belfast?</a></li>
            <!--li><a class="journal" href="{{ site.baseurl }}/journal/">Journal</a></li>  -->
        <li><a class="contact" href="{{ site.baseurl }}/contact/">Contact</a></li>
      </ul>

    </nav>

  </div>
</header>
