<div class="showcase group">

  <div class="container">

    <h2>Student work</h2>

    <div class="banner">
      <ul>
          <li><img src="http://belfastschoolofart.com/images/news-images/437/poppy_morris_placeit__lightbox.png" /></li>
          <li><img src="http://belfastschoolofart.com/images/news-images/437/josh_toan_uk__slider.jpg" /></li>
          <li><img src="http://belfastschoolofart.com/images/news-images/437/bearcss_placeit__lightbox.png" /></li>
          <li><img src="http://belfastschoolofart.com/images/news-images/437/instareel_placeit__lightbox.png" /></li>
          <li><img src="http://belfastschoolofart.com/images/news-images/437/inga_infographic__slider.jpg" /></li>
      </ul>
    </div>

  </div>

</div>

