<div class="showcase group">

  <div class="container">

    <h2>Student work</h2>

    <div class="banner">
      <ul>
           <li><img src="images/gallery/amber_boxfont.jpg" /></li>
           <li><img src="images/gallery/hannah_tees.jpg" /></li>
           <li><img src="images/gallery/inga_infographic.jpg" /></li>
           <li><img src="images/gallery/jordan_upon_a_star.jpg" /></li>
           <li><img src="images/gallery/josh_uncommon_knowledge.jpg" /></li>
           <li><img src="images/gallery/inga_weather_app.jpg" /></li>
           <li><img src="images/gallery/type_posters.jpg" /></li>
           <li><img src="images/gallery/aaron_icons.jpg" /></li>
           <li><img src="images/gallery/jemma_piggypot.jpg" /></li>

      </ul>
    </div>

  </div>

</div>

