<!DOCTYPE html>
<html>

	{% include head.html %}

    <body id="curriculum">

    {% include header.html %}

		<div class="content">
		    <div class="container overview group">
		    	<div class="two left">		
		    		<h1>{{ page.title }}</h1>
				    	
		      		{{ content }}

		      		<a class="back button" href="{{ site.baseurl }}/curriculum">&larr; Back to curriculum</a>

		    	</div>
	    	

	    		<div class="one right">
	    			<h3>Module details</h3>
					<ul class="details">
						<li><strong>Code:</strong> {{ page.code}}</li>
			        	<li><strong>Year:</strong> {{ page.year}}</li>
			          	<li><strong>Semester:</strong> {{ page.semester}}</li>
			          	<li><strong>Credits:</strong> {{ page.credits }}</li>
			          	<li><strong>Delivery:</strong> {{ page.delivery }}</li>
			          	<li><strong>Co-requisites:</strong> {{ page.corequisites }}</li>
			          	<li><a class="github button" href="{{ page.github }}">GitHub Repo</a></li>
		       		</ul>
		       	</div>

	    	</div>
    	</div>

	{% include footer.html %}

    </body>
</html>