---
layout: default
---

<article class="two left post-content">
	 <h1>{{ page.title }}</h1>
	 <span class="post-date">{{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
	{{ content }}
	<a class="back button" href="{{ site.baseurl }}/journal">&larr; Back to Journal</a>
</article>

<div class="one right">
	{% if page.author %}
    	{% assign author = site.authors[page.author] %}
        <p><img class="avatar" src="{{ author.avatar }}" /> by {{ author.name }}</p>
    {% endif %}
</div>